<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom" style="display:flex;justify-content:space-between">
    <ul class="navbar-nav" style="align-items:center">
        {% load static %}
        <li><img src="{% static "images/black-logo.svg" %}" style="margin-left:30px"></li>
        <li class="nav-item d-none d-sm-inline-block" style="margin-left:10px">
            <a href="{% url "home:home" %}" class="nav-link btn btn-block btn-primary">مشاهده سایت</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="{% url "account:sign_out" %}" class="nav-link btn btn-block btn-danger">خروج</a>
        </li>
    </ul>
    <ul class="navbar-nav" style="align-items:center">
      <li><a href="mailto:info@mysite.ir" style="color:black !important;margin-left:30px">info@mysite.ir</a></li>
      <li><a href="tel:+989130000000" dir="ltr" style="color:black !important">+98 9130 000 000</a></li>
    </ul>
</nav>