<div class="header-area bg-black">
    <div class="container mw-1680">
        <div class="header-wrapper">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="header-left-content text-center text-md-start">
                        <p>به وبسایت من خوش آمدید</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                <ul class="ps-0 mb-0 list-unstyled d-flex justify-content-center justify-content-md-end header-right-content gap-1 gap-sm-4 flex-wrap">
                    <li><a href="mailto:info@mysite.ir">info@mysite.ir</a></li>
                    <li><a href="tel:+989130000000" dir="ltr">+98 9130 000 000</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>