{% extends "base.html" %}

{% block title %}ثبت نام{% endblock title %}

{% block page_title %}ثبت نام{% endblock page_title %}

{% block content %}
<div class="sign-up-area ptb-100 bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="sign-in-img">
          {% load static %}
          <img src="{% static "images/sign-up-img.png" %}" alt="sign-up-img">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="authentication-form">
          <ul class="ps-0 list-unstyled d-flex authentication-nav">
            <li><a href="{% url "account:sign_in" %}">ورود</a></li>
            <li><a href="{% url "account:sign_up" %}" class="active">ثبت نام</a></li>
          </ul>
          <h3>ایجاد حساب کاربری</h3>
          <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="form-group mb-4 main-btn" value="ثبت نام">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}